@font-face {
  font-family: "Mabry";
  src: url("../fonts/mabry-regular-pro.ttf");
  display: swap;
}

:root {
  /* Variable */
  --color-black: #222222;
  --color-dark-gray: #32373e;
  --color-gray: #d3d3d3;
  --color-light-gray: #b4bcc7;
  --color-very-light-gray: #e7ebed;
  --color-white: #fff;
  --color-accent: #156dff;

  /* Typography */
  --font-family-sans: "Mabry", sans-serif;
  --font-family-headings: "sofia-pro", sans-serif;

  --unit: 16;
  --font-micro-size: calc(10 / var(--unit) * 1rem); /* 10px */
  --font-micro-line-height: calc(12 / 10); /* 12px */
  --font-small-size: calc(14 / var(--unit) * 1rem); /* 14px */
  --font-small-line-height: calc(21 / 14); /* 21px */
  --font-base-size: 16px;
  --font-base-line-height: calc(24 / var(--unit)); /* 24px */
  --font-large-size: calc(18 / var(--unit) * 1rem); /* 18px */
  --font-large-line-height: calc(27 / 18); /* 27px */

  --font-fluid-large-heading: calc(32px + 30 * ((100vw - 320px) / 1180));
  --font-fluid-large-subheading: calc(22px + 20 * ((100vw - 320px) / 1180));
  --font-fluid-article-heading: calc(18px + 24 * ((100vw - 320px) / 1180));

  --sanity-font-h1: calc(56px + 40 * ((100vw - 320px) / 1920));
  --sanity-line-height-h1: calc(5px + var(--sanity-font-h1));
  --sanity-font-h2: calc(42px + 40 * ((100vw - 320px) / 1920));
  --sanity-line-height-h2: calc(5px + var(--sanity-font-h2));
  --sanity-font-h3: calc(22px + 40 * ((100vw - 320px) / 1920));
  --sanity-line-height-h3: calc(5px + var(--sanity-font-h3));
  --sanity-font-h4: calc(18px + 40 * ((100vw - 320px) / 1920));
  --sanity-line-height-h4: calc(5px + var(--sanity-font-h4));
}
