:root {
  --brand-primary: #434343;
  --brand-primary--inverted: #ffffff;
  --brand-secondary: #000;
  --brand-secondary--inverted: #000;

  --font-size-base: 18px;
  --text-color: #434343;

  --main-navigation-color: #f7f7f7;
  --main-navigation-color--inverted: #000;
}
