/*
  Learn more:
  https://www.sanity.io/guides/how-to-brand-your-studio
*/



@import url('https://fonts.googleapis.com/css?family=Numans&display=swap');


:root {
  --brand-primary: #434343;
  --brand-primary--inverted: #ffffff;
  --brand-secondary: rgb(172, 23, 23);
  --brand-secondary--inverted: #000;

 
  --font-family-sans-serif: 'Numans';
  --font-size-base: 18px;
  --text-color: var(--brand-secondary--inverted);

  --main-navigation-color: #efefef;
  --main-navigation-color--inverted: #000;
}
