.root {
  padding-top: 70px; /* margin-top would stretch the nav bar */
  background-color: #f5f5f5;
  min-height: 100vh;
}

.imageRow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.imageWrapper {
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -khtml-border-radius: 50%;
  border: 3px solid #fff;
}

.imageWrapper img {    /* To make image round in safari, both the image and container are required to be rounded */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -khtml-border-radius: 50%;
  vertical-align: middle;
}

.headerPic {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -khtml-border-radius: 50%;
  vertical-align: middle;
}

.mainBackground {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mainContent {
  max-width: 900px;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  border-bottom: 2px solid #e6e6e6;
  margin-bottom: 50px;
}

.mainContent h2 {
  font-size: var(--font-title2-size);
  line-height: var(--font-title2-line-height);
  margin: 10px 0 20px 0;
}

.mainContent p {
  margin: 0 0 20px 0;
}

.mainContent a {
  color: #6b6b6b;
}

.mainContent a:hover {
  color: var(--color-black);
}
