.root {
  display: flex;
  justify-content: center;
  padding-top: 100px; /* margin-top would stretch the nav bar */
  background-color: #fff;
  min-height: 100vh;
}

.mainContent {
  max-width: 900px;
  width: 100%;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.mainContent h1 {
  font-size: var(--sanity-font-h1);
  line-height: var(--sanity-line-height-h1);
  margin: 20px 0;
}

.mainContent h2 {
  font-size: var(--sanity-font-h2);
  line-height: var(--sanity-line-height-h2);
  margin: 20px 0;
}

.mainContent h3 {
  font-size: var(--sanity-font-h3);
  line-height: var(--sanity-line-height-h3);
  margin: 20px 0;
}

.mainContent h4 {
  font-size: var(--sanity-font-h4);
  line-height: var(--sanity-line-height-h4);
  margin: 20px 0;
  white-space: unset;
}

.mainContent p {
  margin: 0 0 20px 0;
}

.mainContent a {
  color: #6b6b6b;
}

.mainContent a:hover {
  color: var(--color-black);
}
