.root {
  padding-top: 70px; /* margin-top would stretch the nav bar */
  background-color: #f5f5f5;
  min-height: 100vh;
}

.imageRow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.headerPic {
  border-radius: 50%;
}

.mainBackground {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mainContent {
  max-width: 900px;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  border-bottom: 2px solid #e6e6e6;
  margin-bottom: 50px;
}

.mainContent h2 {
  font-size: var(--font-fluid-article-heading);
  margin: 10px 0 0 0;
}

.mainContent p {
  margin: 0 0 20px 0;
}

.mainContent a {
  color: #6b6b6b;
}

.mainContent a:hover {
  color: var(--color-black);
}