@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(274px, 1fr));
    width: 100%;
    max-width: 1200px;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;

    @media (max-width: 800px) {
        border: none;
    }
}
