@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  padding-top: 23px;
}

.root ul {
  color: #6b6b6b;
}

.root p {
  color: #6b6b6b;
}

.headingRowContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding-top: 50px;
}

.logoBackground {
  display: flex;
  justify-content: center;
  padding: 50px 0 50px 0;
  width: 100%;
  background: #f5f5f5;
}

.headingWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin-top: 50px;
}

.headingWrapper p {
  margin: 0;
}

.headingWrapper a {
  color: #000;
}

.headingWrapper a:hover {
  color: #6b6b6b;
}

.innerWrapper {
  display: flex;
  padding: 0 20px 0 20px;

  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.headingBodyWrapper {
  padding-right: 30px;

  @media (max-with: 800px) {
    padding-right: 0;
  }
}

.headingBodyWrapper h1 {
  /* Removes whitespace from above heading */
  font-size: var(--font-fluid-article-heading);
  line-height: 28px;
  margin: 0;
  padding: 0;
}

.headingBodyWrapper p {
  margin: 10px 0 10px 0;
}

.mediaLinkWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-height: 200px;
  white-space: nowrap;

  @media (max-width: 800px) {
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 0 10px 0;
    flex-wrap: wrap;
  }
}

.mediaIcon {
  width: 15px;
  height: 15px;
  margin-bottom: -2px;
  padding-right: 10px;
}

.mediaLink {
  text-decoration: none;
  color: #6b6b6b;
  padding: 0 5px 0 5px;
}

.mediaLink:hover {
  color: #DB7342;
}

.contentRowContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f5f5f5;
  padding: 50px 0 50px 0;
  margin-top: 50px;
}

.jobCardWrapper {
  max-width: 900px;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.jobCardWrapper .contentLabel {
  @media(max-width: 800px) {
    margin-left: 20px;
  }
}

.contentRowInnerContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  justify-content: center;
  max-width: 900px;
  margin: 0 20px 0 20px;

  @media (max-width: 800px) {
    margin: 0;
  }
}

.contentWrapper {
  grid-column: 1 / 10;
  display: flex;
  flex-direction: column;

  @media (max-width: 800px) {
    grid-column: 1 / 13;
    row: 1;
  }
}

.contentLabel {
  color: #666666;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 10px;

  @media (max-width: 800px) {
    margin-left: 20px;
  }
}

.body {
  padding: 0 20px 0 20px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  border-bottom: 2px solid #e6e6e6;
  margin-bottom: 40px;
}

.body h2 {
  color: #DB7342;
  text-transform: uppercase;
  margin-bottom: -15px;
}

.body h3 {
  color: #DB7342;
  text-transform: uppercase;
  margin-bottom: -15px;
}

.body figure {
 margin: 0;
 padding: 10px 0 10px 0;
}

.body p {
  padding: 10px 0 10px 0;
}

.body a {
  color: #000;
}

.body a:hover {
  color: #6b6b6b;
}

.categoryItemWrapper {
  grid-column: 10 / 13;
  display: flex;
  flex-direction: column;

  @media (max-width: 800px) {
    grid-column: 1 / 13;
    row: 2;
  }
}

.categoryItemBody {
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  border-bottom: 2px solid #e6e6e6;
  height: fit-content;
}

.categoryItemWrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.categoryItem {
  color: #929292;
  font-weight: 700;
  font-size: 14px;
}
