@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.underline {
  position: relative;
  color: #666666;
  font-weight: 700;
  text-decoration: none;
  margin: 16px;
  padding-bottom: 5px;
  transition: 1s;
  white-space: nowrap;
}

.underline:hover {
  color: var(--color-black);
}

.underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-black);
  transition: width 1s cubic-bezier(0.25, 1, 0.5, 1);
}

.activeWrapper {
  padding: 16px;
}

.active {
  color: var(--color-black);
  font-weight: 700;
  text-decoration: none;
  border-bottom: 2px solid var(--color-black);
  padding: 0 0 3px 0;
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }

  .active:hover::before {
    width: 0;
  }
}

.headerSection {
  max-width: 1200px;
  margin: 86px 0 36px 0;

  @media (max-width: 414px) {
    margin: 86px 0 0 0;
  }
}

.headerSection h1 {
  font-weight: 600;
  font-size: var(--font-fluid-large-heading);
  line-height: var(--font-title1-line-height);

  @media (max-width: 414px) {
    padding: 0 10px 0 10px;
  }
}

.headerSection h2 {
  font-weight: 700;
  font-size: var(--font-fluid-large-subheading);
  line-height: var(--font-title2-line-height);
  height: 50px;                                 /* Keeps content below from collapsing upwards between subheader animations */

  @media (max-width: 414px) {
    padding: 0 10px 0 10px;
  }
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1100px;
  width: 100%;
  margin-bottom: 50px;

  @media (max-width: 800px) {
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: scroll;
    margin-bottom: 0;
  }
}
