@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(274px, 1fr));
    grid-template-rows: auto;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    border: 1px solid var(--color-black);
}
