@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px;

    @media (max-width: 600px) {
        padding: 25px 20px;
    }
}

.wrapper {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width: 800px) {
        border: none;
    }
}

.container .link {
    color: #666666;
    font-weight: 700;
}

.container .link:hover {
    color: #000;
}

.wrapper > * {
  margin: 10px;
  flex: 1;
  min-width: 274px;
  max-width: 274px;
}