.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
}

.root .title {
  color: #616161;
  font-size: calc(18px + 6 * ((100vw - 320px) / 1180));
}

.root ul {
  list-style-type: none;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
}

.root ul li {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 24px;
}

.root ul li:before {
  content: '✓ ';
}