@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.inactive {
  color: #666666;
  font-weight: 800;
  text-decoration: none;
}

.active {
  color: var(--color-black);
  text-decoration: underline;
}

.headerSection {
  max-width: 1200px;
  margin: 36px 0 36px 0;
}

h1 {
  font-weight: 600;
  font-size: var(--font-fluid-large-heading);
  line-height: var(--font-title1-line-height);
  margin: 1rem 0 2rem;
}

h2 {
    font-weight: 700;
    font-size: var(--font-fluid-large-subheading);
    line-height: var(--font-title2-line-height);
    margin: 1rem 0 2rem;
}

.categories {
    max-width: 1200px;
}