@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.content {
  min-height: calc(100vh - 140px);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: #222222;
  color: var(--color-white);
  margin-top: 50px;

  @media (max-width: 800px) {
    height: 200px;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 100%;
  box-sizing: border-box;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.inputContainer {
  display: flex;
  align-items: center;

  @media (max-width: 800px) {
    flex-direction: column;
    height: 150px;
    justify-content: space-around;
  }
}

.signupText {
  margin-right: 10px;
  color: var(--color-gray);
  font-weight: 700;
}

.messageContainer {
  height: 20px;
  margin-bottom: -20px;
  color:rgb(211, 67, 91);
}

.emailField {
  background: #2c2c2c;
  border: 1px solid #777777;
  border-radius: 5px;
  color: var(--color-white);
  width: 250px;
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 5px;
}

.emailField:focus {
  outline: none;
}

::placeholder {
  color: var(--color-gray);
  opacity: 0.5;
}

::-ms-input-placeholder {
  color: var(--color-gray); /* Microsoft Edge */
  opacity: 0.5;
}

.formButton {
  background: #d6d6d6;
  color: #434343;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 5px 20px 5px 20px;
  margin-left: 10px;
  transition: 0.4s;
}

.formButton:hover {
  cursor: pointer;
  background: none;
  color: var(--color-gray);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  outline: none; /* Removes blue border when toggled with enter key, and when opened in Safari */
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  font-size: 16px;
  line-height: 24px;
  color: #616161;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.042),
  0 6.7px 5.3px rgba(0, 0, 0, 0.061),
  0 12.5px 10px rgba(0, 0, 0, 0.075),
  0 22.3px 17.9px rgba(0, 0, 0, 0.089),
  0 41.8px 33.4px rgba(0, 0, 0, 0.108),
  0 100px 80px rgba(0, 0, 0, 0.15);
}

.modal a {
  color: var(--color-black);
}

.modal a:hover {
  color: #474747;
}

.modalOverlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.modalBody {
  overflow: hidden; /* Disables scrolling on the body when the modal is active */
}

.modalIconContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.modalError {
  color: rgb(211, 67, 91);
}

.modalSuccess {
  color: rgb(59, 204, 33);
}

.modalContentContainer {
  text-align: center;
  margin-bottom: 30px;
}

.modalButtonContainer {
  display: flex;
  justify-content: center;
}

.modalButton {
  text-decoration: none;
  border: 1px solid #616161;
  color: var(--color-black);
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  font-size: 18px;
}

.modalButton:hover {
  background: #616161;
  color: var(--color-white);
}
