
@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid var(--color-black);
    z-index: 10;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 70px;
    padding: 0 20px 0 20px;
}

.navLink {
    position: relative;
    color: #666666;
    font-weight: 700;
    text-decoration: none;
    margin: 16px;
    padding-bottom: 5px;
    transition: 0.8s;
  }
  
  .navLink:hover {
    color: var(--color-black);
  }
  
  .navLink::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-black);
    transition: width 0.8s cubic-bezier(0.25, 1, 0.5, 1);
  }
  
  @media (hover: hover) and (pointer: fine) {
    .navLink:hover::before {
      left: 0;
      right: auto;
      width: 100%;
    }
  }

.button {
    white-space: nowrap; /* Needed to keep Safari from breaking button in half */
    margin-left: 25px;
    text-decoration: none;
    background-color: var(--color-black);
    border: 1px solid var(--color-black);
    color: var(--color-white);
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    transition: 0.4s;
}

.button:hover {
    background: none;
    color: var(--color-black);
}

.menu {
    display: none;
}

@media (max-width: 800px) {
    .desktopNav {
        display: none;
    }

    .menu {
        display: inline;
    }
}
